body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(29, 33, 58);
}

.app {
  color: #fff;
}

.image,
.description,
.temp,
.location,
.date {
  text-align: center;
  padding: 0.2rem;
}

.search {
  text-align: center;
  padding: 1rem;
  height: 15vh;
}
.top {
  height: 85vh;
}
.bottom {
  height: 100vh;
  background: rgb(16, 14, 28);
}
small {
  font-size: 3rem;
}

.feels,
.humidity,
.wind,
.pressure {
  margin: auto;
  text-align: center;
  padding: 1.2rem;
  background-color: rgb(29, 33, 58);
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.today {
  margin: auto;
  text-align: center;
  padding: 0.8rem;
  width: 80%;
}
